.config__form {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .config___item {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .config__item-label {
    font-family: "Ribeye", serif;
  }
  
  .config__item-input {
    width: 60px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    background-color: #f3e6ff;
  }
  
  .config__form-button {
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #9C92AC;
    background-color: #d3c1e4;
    color: black;
    font-family: "Ribeye", serif;
    font-weight: 700;
    text-shadow: none;
  }

  .config__form-button:hover {
    background-color: #a888db;
    color: white;
  }

  @media screen and (max-width: 768px) {
    .config__form {
      flex-direction: column;
      align-items: stretch;
      width: 40%;
    }
  
    .config__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .config__item-input {
      width: 35%;
    }
  }