.game-board {
    border: var(--border-width) solid var(--border-color);
    display: inline-block;
    background-color: var(--border-color);
}

.board-row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    border-right: var(--border-width) solid var(--border-color);
    border-bottom: var(--border-width) solid var(--border-color);
    border-top: var(--border-width) solid white;
    border-left: var(--border-width) solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--unopened-cell-color);
    font-weight: bold;
    text-shadow: none;
    border-radius: 6px;
}

.cell:hover {
    background-color: var(--hovered-cell-color);
}

.cell.revealed {
    background-color: var(--revealed-cell-color);
    border: var(--border-width) solid var(--border-color-faded);
}

.cell.revealed.empty {
    background-color: var(--empty-cell-color);
}

.cell.revealed.mine {
    background-color: var(--mine-cell-color);
}

.cell.flagged {
    background-color: var(--flagged-cell-color);
}

@media (max-width: 768px) {
    .cell {
        width: 40px;
        height: 40px;
        font-size: 20px;
        border-width: var(--border-width);
    }
    
    .game-board {
        max-width: 100%;
        overflow-x: auto;
    }

      /* Disable right-click context menu on mobile */
    .cell {
        touch-action: manipulation;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }
}